WCF_CarInsurance_client/Service References/WCF_CarInsurance/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58189/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_generowanie" />
  <xs:element name="SaveAccidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_generowanie" minOccurs="0" name="AllInfo" nillable="true" type="q1:HistoryOfAccidents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_generowanie" minOccurs="0" name="SaveAccidentsResult" nillable="true" type="q2:HistoryOfAccidents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBasicInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_generowanie" minOccurs="0" name="AllInfo" nillable="true" type="q3:BasicInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBasicInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_generowanie" minOccurs="0" name="SaveBasicInformationResult" nillable="true" type="q4:BasicInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_generowanie" minOccurs="0" name="AllInfo" nillable="true" type="q5:PurchaseHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_generowanie" minOccurs="0" name="SavePurchaseHistoryResult" nillable="true" type="q6:PurchaseHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadBasicInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personal_identity_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadBasicInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadBasicInformationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPurchaseHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personal_identity_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPurchaseHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadPurchaseHistoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadHistoryOfAccidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personal_identity_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadHistoryOfAccidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadHistoryOfAccidentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>