WCF_CarInsurance_client/Service References/WCF_CarInsurance/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58189/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58189/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58189/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_generowanie" />
      <xsd:import schemaLocation="http://localhost:58189/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SaveAccidents_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAccidents" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveAccidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAccidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveBasicInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBasicInformation" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveBasicInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBasicInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SavePurchaseHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePurchaseHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_SavePurchaseHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePurchaseHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadBasicInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadBasicInformation" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadBasicInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadBasicInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadPurchaseHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadPurchaseHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadPurchaseHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadPurchaseHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadHistoryOfAccidents_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadHistoryOfAccidents" />
  </wsdl:message>
  <wsdl:message name="IService1_ReadHistoryOfAccidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadHistoryOfAccidentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SaveAccidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveAccidents" message="tns:IService1_SaveAccidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveAccidentsResponse" message="tns:IService1_SaveAccidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBasicInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveBasicInformation" message="tns:IService1_SaveBasicInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveBasicInformationResponse" message="tns:IService1_SaveBasicInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePurchaseHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SavePurchaseHistory" message="tns:IService1_SavePurchaseHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SavePurchaseHistoryResponse" message="tns:IService1_SavePurchaseHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadBasicInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadBasicInformation" message="tns:IService1_ReadBasicInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadBasicInformationResponse" message="tns:IService1_ReadBasicInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadPurchaseHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadPurchaseHistory" message="tns:IService1_ReadPurchaseHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadPurchaseHistoryResponse" message="tns:IService1_ReadPurchaseHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadHistoryOfAccidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReadHistoryOfAccidents" message="tns:IService1_ReadHistoryOfAccidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReadHistoryOfAccidentsResponse" message="tns:IService1_ReadHistoryOfAccidents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveAccidents">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveAccidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBasicInformation">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveBasicInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePurchaseHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/SavePurchaseHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBasicInformation">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadBasicInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPurchaseHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadPurchaseHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadHistoryOfAccidents">
      <soap:operation soapAction="http://tempuri.org/IService1/ReadHistoryOfAccidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58189/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>