WCF_CarInsurance_client/Service References/WCF_CarInsurance/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_generowanie" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_generowanie" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HistoryOfAccidents">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescriptionOfTheDamage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Penalty" type="xs:float" />
      <xs:element minOccurs="0" name="PersonalIdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryOfAccidents" nillable="true" type="tns:HistoryOfAccidents" />
  <xs:complexType name="BasicInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Discounts" type="xs:float" />
      <xs:element minOccurs="0" name="Identity_card_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name_surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Personal_identity_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone_number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicInformation" nillable="true" type="tns:BasicInformation" />
  <xs:complexType name="PurchaseHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Begindate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descriptioncar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descriptionpackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enddate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nameinsurer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Personal_identity_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="Savedate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseHistory" nillable="true" type="tns:PurchaseHistory" />
</xs:schema>